.poke-click {
  position: absolute !important;
  width: 80px !important;
  height: 80px !important;
  z-index: 2147483647 !important; /* Valor máximo de z-index */
  pointer-events: none !important;
  image-rendering: pixelated;
  animation: pop 0.3s ease-out;
}

@keyframes pop {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}